/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  width: var(--header-width);
  border: 2px solid var(--main-color);
  margin-top: 100px;
  margin-bottom: 100px;
  margin-inline: auto;
}

.header__title {
  font-family: var(--accent-font);
  text-align: center;
  text-transform: uppercase;
  font-size: clamp(3.063rem, 2.063rem + 3.2vi, 4.063rem);
  padding: clamp(7.5rem, 7rem + 1.6vi, 8rem) clamp(0.875rem, -5.781rem + 21.3vi, 7.531rem) 20px clamp(0.875rem, -5.781rem + 21.3vi, 7.531rem);
}

.header__subtitle {
  font-family: var(--accent-font);
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(0.875rem, 0.313rem + 1.8vi, 1.438rem);
  padding: 0 clamp(5rem, -0.969rem + 19.1vi, 10.969rem) clamp(7.5rem, 7rem + 1.6vi, 8rem) clamp(5rem, -0.969rem + 19.1vi, 10.969rem);
}