:root {
    --main-font: 'Inter-Variable', sans-serif;
    --accent-font: 'PressStart2P', sans-serif;
    --main-text-weight: 400;
    --title-text-weight: 700;
    --header-width: clamp(375px, 90vw, 700px);
    --main-color: #000;
}